<div class="container">
  <h1>All Instruments</h1>
  <ul>
    <% @instruments.each do |instrument| %>
      <li>
        <%= link_to instrument.product_name, instrument_path(instrument) %>
        <%= image_tag instrument.img_url, width: 100 %>
      </li>
    <% end %>
  </ul>
  <hr>
  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
